.contact--container{
 padding:  0 20px 150px 20px; 
 display: flex;
 justify-content: center;
 align-items: center;
} 
.contact{
    display: flex;
 justify-content: space-around;
 align-items: center; 
 padding: 10px;  
 width: 1000px;
 border-radius: 20px; 
  color: var(--color2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
} 
@media only screen and (max-width: 600px) {
    .contact {
      flex-direction: column;
    }
  }
.contact--left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
} 

.contact--left p{
    font-size: 30px; 
}
@media only screen and (max-width: 600px) {
    .contact--left p {
     font-size: 25px;
    }
  }
  @media only screen and (max-width: 992px) and (min-width:600px){
    .contact--left p {
        font-size: 25px; 
        text-align: center;
       }
  }
.contact--left a{
    margin: 0 10px;
}
.contact--middle{
    background-color: #1f2833; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .contact--middle {
      margin: 50px 0px;
    }
  }
  @media only screen and (max-width: 992px) and (min-width:600px){
    .contact--middle {
        margin: 0px 50px;
    }
  }
.contact--middle p{
font-size: 30px;
}

.contact--right form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.contact--right form p{
    font-size: 30px;
}
.contact--right form button{
    background-color: var(--color);
}
@media only screen and (max-width: 600px) {
    .contact--right form p {
      text-align: center; 
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 992px) and (min-width:600px){
    .contact--right p {
        font-size: 25px; 
        text-align: center;
       }
  }
.email{
   height: 25px;  
   width: 300px;
   margin-bottom: 20px; 
   border-radius: 10px; 
   border: 1px solid #1f2833;
}
.message{
    height: 200px; 
    width: 300px;
    border-radius: 10px; 
    border: 1px solid #1f2833;
    margin-bottom: 10px;
}
textarea:focus, input:focus{
  outline: none;
}